plugins {
    id 'nf-lims@0.1.0'
}

params {
    lims_api_base_url = 'http://localhost:28081'
    lims_pipeline_execution_id = '12345'
    lims_username = 'admin'
    lims_api_key = 'secret-api-key'
    lims_status_key = 'custom_status_field'
    lims_upload_file = 'validation/dummy_multiqc.html'
    lims_upload_mode = 'multipart'
}
